body{
    background:rgb(107, 107, 241);
    font:normal 16px Arial;
}
header{
    text-align: center;
    color: white;
}
section{
    background: white;
    width: 500px;
    padding: 15px;    
    border-radius: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.544);
}
div{
    text-align: center;
    padding: 10px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}

/*
manhã - #F2AD85
tarde - #F27405
noite - #011126
*/